{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Json_api_table/css/bootstrap.css'  %}"> 
    <title> {% block title %} Jason_api {% endblock %}</title>
</head>
<body>
    {% block content %}

    <h1 class="text-center"> Storing Api Data In Table</h1>
 
    <div class="container">
    <table class="table table-bordered border-primary">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>

            {% for load in Info %}
          <tr>
            <td>{{load.id}}</td>
            <td>{{load.name}}</td>
            <td>{{load.username}}</td>
            <td>{{load.email}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>  
    {% endblock %}
</body>
</html>


